@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap");
@import "tailwindcss";

@theme {
  --color-walnut: #582707;
  --color-rust: #972D07;
  --color-violet: #372549;
  --color-silk: #EACDC2;
  --color-silk-light: #F5EBE6;
  --color-saffron: #E3B505;
  --color-saffron-light: #F5D94E;
}

body {
  background-color: var(--color-silk-light);
  color: #000000;
  font-family: "Stack Sans Text", sans-serif;
}

a {
  color: inherit;
}

.stack-sans-text-regular {
  font-family: "Stack Sans Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
